:root {
    /* ta sẽ set các biến dùng trong quá trình code tại đây cho tiện */
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
}

a:link {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: -webkit-linear-gradient(top right, #00d8c2, #0068b7);
    background-image: -webkit-linear-gradient(right top, rgb(0, 216, 194), rgb(0, 104, 183));
    color: white;
    transition: 0.5s;
}

.canggiua {
    width: 1200px;
    margin: auto;
}

.trai {
    position: relative;
    width: 50%;
    float: left;
    /* left: -50px; */
}

.trai a.logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 20px 0 0 0;
    margin-left: 10px;
    transition: 0.5s;
    float: left;
    color: var(--secondary-font-color);
}

.trai img.img_logo {
    float: left;
    width: 90px;
    height: 70px;
    /* margin: 10px; */
    transition: 0.5s;
    border-radius: 20%;
    margin: 5px;
}

.ad-part-left {
    position: absolute;
    left: 0%;
    top: 80px;
    width: 20%;
    height: 9000px;
    background-color: #24292e;
    overflow: hidden;
}

.ad-part-right {
    position: absolute;
    right: 0%;
    top: 80px;
    width: 80%;
    height: auto;
    background-color: whitesmoke;
    overflow: hidden;
}

.ad-menu-right {
    /* position: absolute; */
    z-index: 3;
    right: 0%;
    top: 0%;
    width: 100%;
    height: 60px;
    background-color: blueviolet;
    overflow: hidden;
    transition: 0.5s;
}

.ad-part-left li {
    width: 100%;
    height: 60px;
    list-style: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    padding: 10px;
    background-color: #333;
    transition: 0.5s;
    text-align: center;
    color: #b8c7ce;
    margin-bottom: 5px;
    overflow: hidden;
    cursor: pointer;
}

.ad-menu-right li {
    width: 25%;
    height: 60px;
    list-style: none;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    padding: 10px;
    background-color: #333;
    /* background-color: -webkit-linear-gradient(top right, DimGray, #363636);
        background-image: -webkit-linear-gradient(right top, DimGray, #363636); */
    transition: 0.5s;
    text-align: center;
    color: #b8c7ce;
    float: left;
    cursor: pointer;
}

.nutdangxuat {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #333;
    border: none;
    color: #b8c7ce;
    transition: 0.5s;
}

.ad-part-content {
    position: relative;
    left: 0%;
    top: 10px;
    width: 100%;
    height: auto;
    padding: 30px;
}

#li1:hover,
#li2:hover,
#li3:hover,
#li4:hover,
#li5:hover,
#li6:hover,
#li7:hover,
#li8:hover,
#li9:hover,
#li10:hover,
#li12:hover,
#li13:hover,
#li14:hover,
#li15:hover {
    font-size: 25px;
    background-color: #337ab7;
    color: white;
    border-left: 3px solid transparent;
}

#li11:hover .nutdangxuat {
    font-size: 25px;
    background-color: #337ab7;
    color: white;
    border-left: 3px solid transparent;
}

.noidungcon {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
}